@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg,
            rgba(244, 177, 131, 1) 0%,
            rgba(238, 131, 58, 1) 50%,
            rgba(255, 105, 1, 1) 100%);
}

#header {
    height: 100vh;
    color: black;
}

#logo-container {
    margin-bottom: 20px;
}

#logo {
    max-height: 206px;
}

#logo span {
    color: white;
}

#span-logo {
    color: aliceblue;
}

.header-content {
    margin-bottom: 30px;
}

#title {
    color: rgb(255, 105, 0);
    background-color: black;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 800;
    max-width: fit-content;
}

#subtitle {
    font-weight: bold;
    color: aliceblue;
    margin-bottom: 30px;
}

#text {
    color: black;
    margin-bottom: 30px;
}

.btn-container {
    text-align: center;
    margin-top: 40px;
}

#btn {
    background-color: white;
    color: rgb(255, 105, 0);
    border-radius: 20px;
    border: 2px;
    font-weight: 600;
    padding: 10px 40px 10px;
}

#section {
    background-image: url("/static/landingpage/img/img-section.png");
    background-size: cover;
    background-position: center;
    height: 80vh;
    margin: 10vh 0 10vh;
}

.text-box {
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
    line-height: 1.6;
    text-align: center;
}

@media (min-width: 769px) {
    .text-box {
        max-width: 50%;
    }

    .col-md-3:not(:last-child) {
        border-right: 2px solid rgb(255, 255, 255);
    }
}

@media (max-width: 768px) {
    .text-box {
        max-width: 100%;
    }
}


.card {
    padding: 10px;
    margin-bottom: 5px;
    background-color: rgba(240, 248, 255, 0);
    border: none;
}

.card-title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    color: rgb(252, 252, 252);
    position: relative;
}

.barra {
    background-color: rgb(255, 105, 0);
    height: 5px;
    width: 70px;
    margin-bottom: 10px;
}

/* .card-title::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -10px;
    left: 13%;
    transform: translateX(-50%);
    width: 70px;
    height: 5px;
    background-color: rgb(255, 105, 0);
} */

.card-description {
    font-size: 18px;
    line-height: 1.6;
    color: black;
    /* text-align: justify !important; */
}

/* Estilo para a imagem da section3 */
#section3 img {
    max-width: auto;
    height: auto;
}

.icon-img {
    max-width: 80px;
    /* Ajuste o valor conforme necessário */
    height: auto;
}

@media (max-width: 768px) {
    #logo {
        max-width: 200px;
        /* Reduz o tamanho do logo */
    }

}

/* Media query para dispositivos com largura máxima de 576px (como smartphones) */
@media (max-width: 1200px) {

    #text {
        color: black;
        margin-bottom: 30px;
        font-size: 20px;
    }
}