@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap');

* {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
  box-sizing: border-box;
}

/* .navbar-brand {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav-item {
  padding: 8px 16px;
} */

@media (max-width: 991px) {
  .content {
    min-height: calc(100vh - 99.5px);
    /* Ajusta a altura da seção para ocupar toda a tela menos a altura do navbar */
  }
}

@media (min-width: 992px) {
  .content {
    min-height: calc(100vh - 139.5px);
    /* Ajusta a altura da seção para ocupar toda a tela menos a altura do navbar */
  }
}

.footer-cusutom {
  height: 210px;
  background-image: url('/static/base/img/footer_pattern.svg');
  background-size: 200px;
  background-position: center;
  background-color: #231f1e;
}
