{% extends 'base.html' %}

{%block title%}UpriseHR - Receba uma consultoria{% endblock %}

{% block consultoria_ativa %}active{% endblock %}

  {% block links %}
  <!-- intl-tel-input CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.min.css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='index/css/style.css') }}">
  {% endblock %}

  {% block content %}
  <!-- Section com formulário de cadastro -->
  <section class="section">
    <div class="container">
      <h2 class="text-center text-white mb-4">Receba uma consultoria</h2>
      <form class="mx-auto" style="max-width: 600px" action="/cadastrar_cliente" method="post" id="cadastroForm">
        <div class="row">
          <div class="col-md-6">
            <div class="mb-3">
              <label for="nome" class="form-label text-white">Nome</label>
              <input type="text" class="form-control" id="nome" name="nome" required pattern="^[A-Za-zÀ-ú\s']{3,}$" title="Insira apenas letras e apóstrofos no nome (mínimo 3 caracteres)" />
              <div class="error-message"></div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-3">
              <label for="sobrenome" class="form-label text-white">Sobrenome</label>
              <input type="text" class="form-control" id="sobrenome" name="sobrenome" required pattern="^[A-Za-zÀ-ú\s']{3,}$" title="Insira apenas letras e apóstrofos no sobrenome (mínimo 3 caracteres)" />
              <div class="error-message"></div>
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label text-white">Email Profissional</label>
          <input type="email" class="form-control" id="email" name="email" required pattern="^[^%]+$" title="Insira um endereço de e-mail válido" />
        </div>
        <div class="mb-3">
          <label for="celular" class="form-label text-white">Celular</label>
          <input type="tel" class="form-control" id="celular" name="telefone" required title="Insira um número de telefone válido" placeholder=" "/>
          <div class="error-message"></div>
        </div>
        <div class="mb-3">
          <label for="empresa" class="form-label text-white">Nome da Empresa</label>
          <input type="text" class="form-control" id="empresa" name="empresa" required minlength="3" title="Insira pelo menos 3 caracteres no nome da empresa" />
          <div class="error-message"></div>
        </div>
        <div class="form-check mb-3">
          <input type="checkbox" class="form-check-input" id="permitir-contato" name="checkboxstatus" required />
          <label class="form-check-label text-white" for="permitir-contato">Permito o contato através do E-mail. (Você pode cancelar a qualquer momento)</label>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
      </form>
    </div>
  </section>
  {% endblock %}

  {% block scripts%}
  <!-- intl-tel-input JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
  <script src="{{ url_for('static', filename='index/js/script.js') }}"></script>
  {% endblock %}
