{% extends 'base.html' %}

{% block title %}UpriseHR - Resultados da Consulta{% endblock %}

    {% block links %}
    <!-- CSS especifico da página -->
    <link rel="stylesheet" href="{{ url_for('static', filename='resultados/css/style.css') }}"/>
    {% endblock %}

    {% block content %}
    <!-- Section com resultados da consulta -->
    <section class="section">
      <div class="container mb-4">
        <h2 class="text-center text-white mb-4">Resultados da Consulta</h2>
        <!-- Adiciona a classe table-striped para listrar as linhas -->
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th class="text-bg-primary">ID</th>
                <th class="text-bg-primary">Nome</th>
                <th class="text-bg-primary">Sobrenome</th>
                <th class="text-bg-primary">Email</th>
                <th class="text-bg-primary">Telefone</th>
                <th class="text-bg-primary">Empresa</th>
                <th class="text-bg-primary">Status do Checkbox</th>
                <th class="text-bg-primary">Ação</th>
                <!-- Nova coluna de Ação -->
              </tr>
            </thead>
            <tbody>
              {% for cliente in clientes %}
              <tr id="cliente-{{ cliente[0] }}">
                <td style="width: 2%; min-width: 2%">{{ cliente[0] }}</td>
                <td style="width: 12%; min-width: 12%">{{ cliente[1] }}</td>
                <td style="width: 22%; min-width: 22%">{{ cliente[2] }}</td>
                <td style="width: 10%; min-width: 10%">{{ cliente[3] }}</td>
                <td style="width: 10%; min-width: 10%">{{ cliente[4] }}</td>
                <td style="width: 20%; min-width: 20%">{{ cliente[5] }}</td>
                <td style="width: 8%; min-width: 8%">{{ cliente[6] }}</td>
                <td style="width: 23%; min-width: 23%">
                  <!-- Botões de editar e excluir -->
                  <button onclick="editarCliente({{ cliente[0] }})" class="btn btn-primary">Editar</button>
                  <button onclick="excluirCliente({{ cliente[0] }})" class="btn btn-danger">Excluir</button>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </section>

    <!-- Div flutuante para edição -->
    <div id="edit-popup" class="edit-popup" style="display: none">
      <h3>Editar Cliente</h3>
      <form id="edit-form">
        <input type="hidden" id="edit-id"/>
        <div class="mb-2">
          <label for="edit-nome" class="form-label">Nome:</label>
          <input type="text" id="edit-nome" class="form-control edit-input" required pattern="^[A-Za-zÀ-ú\s']{3,}$" title="Insira apenas letras e apóstrofos no nome (mínimo 3 caracteres)"/>
        </div>
        <div class="mb-2">
          <label for="edit-sobrenome" class="form-label">Sobrenome:</label>
          <input type="text" id="edit-sobrenome" class="form-control edit-input" required pattern="^[A-Za-zÀ-ú\s']{3,}$" title="Insira apenas letras e apóstrofos no sobrenome (mínimo 3 caracteres)"/>
        </div>
        <div class="mb-2">
          <label for="edit-email" class="form-label">Email:</label>
          <input type="email" id="edit-email" class="form-control edit-input" required pattern="^[^%]+$" title="Insira um endereço de e-mail válido"/>
        </div>
        <div class="mb-2">
          <label for="edit-telefone" class="form-label">Telefone:</label>
          <input type="tel" id="edit-telefone" class="form-control edit-input" required title="Insira um número de telefone válido"/>
        </div>
        <div class="mb-2">
          <label for="edit-empresa" class="form-label">Empresa:</label>
          <input type="text" id="edit-empresa" class="form-control edit-input" required minlength="3" title="Insira pelo menos 3 caracteres no nome da empresa"/>
        </div>
        <div class="mb-2">
          <label for="edit-checkboxstatus" class="form-label">Status do Checkbox:</label >
          <input type="text" id="edit-checkboxstatus" class="form-control edit-input" required/>
        </div>
        <br />
        <button type="submit" class="btn btn-success">Salvar</button>
        <button type="button" onclick="fecharPopup()" class="btn btn-secondary">Cancelar</button>
      </form>
    </div>
    {% endblock %}

    {% block scripts %}
    <!-- JavaScript para edição e exclusão de clientes -->
    <script src="{{ url_for('static', filename='resultados/js/script.js') }}"></script>
    {% endblock %}